@model Coursaty.Models.CoursesComments_Replies

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CoursesComments_Replies</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.currDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reply)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reply)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.likes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.likes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dislikes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dislikes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoursesComment.comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoursesComment.comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
