@model IEnumerable<Coursaty.Models.CoursesComment>

@{
    Layout = "~/Views/Shared/_LayoutWithNoCredits.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.currDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.likes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dislikes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.currDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.likes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dislikes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
