@model IEnumerable<Coursaty.Models.CoursesComment>

@{
    Layout = "~/Views/Shared/_LayoutWithNoCredits.cshtml";
    ViewBag.Title = "Index";
}

<h3>Comments</h3>

@foreach (var item in Model) {
    <!--Main Comment-->
    <div class="well">
        <div class="row">
            <div class="col-md-2">
                <!--image-->
                <img class="img-responsive thumbnail" src="/Uploads/@item.User.photo" alt="@item.User.name" />

            </div>
            <div class="col-md-10">
                <!--name-->
                @{var link = Url.Action("Details", "Users", new { id = item.userId }); }

                <a href="@link" style="font-size:20px;font-weight:bold">@item.User.name</a>
                <div class="row">
                    <!--Comment-->
                    <div class="col-md-9">
                        <div style="font-size:18px;font-weight:bold">@item.comment</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 ">
                        <!--Date & Time-->
                        <span class="glyphicon glyphicon-time"></span>&nbsp;
                        @item.currDate
                    </div>
                    <div class="col-md-2 text-success">
                        <!--Likes-->
                        <span class="glyphicon glyphicon-thumbs-up">&nbsp;@item.likes</span>
                    </div>
                    <div class="col-md-2 text-danger ">
                        <!--Dislikes-->
                        <span class="glyphicon glyphicon-thumbs-down">&nbsp;@item.dislikes</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Replies-->
}
