@model Coursaty.Models.Course

@{
    ViewBag.Title = "Details";
}

<div class="h1" style="margin-top:40px;">
   <a href="@Model.link" alt="@Model.link">@Html.DisplayFor(model => model.title)</a>
    <span style="display:inline-block">
        @Html.Partial("~/Views/_RatingControl.cshtml",ViewData)
    </span>
</div>
<div>
    @Html.ActionLink(@Model.Instructor.name, "details/" + Model.instructorId, "Instructors")
</div>

<hr />
<div class="img-thumbnail inlineImage">
    <img src="~/Uploads/@Model.image" alt="@Model.image" />
</div>
<p class="h4 nav-justified">
    @Model.description
</p>
    <dl class="dl-horizontal">

        <dt>
            @Html.LabelFor(model => model.trackId, "Course Track", htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Track.name)
        </dd>

    </dl>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
