@model Coursaty.Models.Course

@{
    ViewBag.Title = "Details";
}

<div class="h1" style="margin-top:40px;">
   <a href="@Model.link" alt="@Model.link">@Html.DisplayFor(model => model.title)</a>
    <span style="display:inline-block">
        @Html.Partial("~/Views/_RatingControl.cshtml", ViewData)
    </span>
</div>
<div>
    By @Html.ActionLink(@Model.Instructor.name, "details/" + Model.instructorId, "Instructors")
</div>

<hr />
<div class="img-thumbnail inlineImage">
    <img src="~/Uploads/@Model.image" alt="@Model.image" />
</div>
<p class="h4 nav-justified">
    @Model.description
</p>
@* Course Lectures *@
@{Html.RenderAction("Index", "Lectures", new { courseId = Model.id });}
@* Course Comments *@
@{ Html.RenderAction("Index", "CoursesComments", new { courseId = Model.id }); }
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
